.pagination {
  display: flex;
  gap: 10px;
  width: 320px;
  margin: 0 auto;

  &__btn {
    padding: 5px;
    width: 100px;
    background-color: #223a70;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
  }
}
