.heading {
  display: flex;
}

.players {
  margin-top: 20px;
  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th {
      background-color: #223a70;
      color: #fff;
    }
  }

  &__link {
    color: #022eb0;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.players__table th,
.players__table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

  @media (max-width: 768px) {
    padding: 8px 3px;
    font-size: 12px;
  }
}

.players__table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.players__table tr:hover {
  background-color: #ddd;
}

.filterSelect {
  margin-bottom: 20px;
  padding: 8px;
}

.btn {
  cursor: pointer;
  display: block;

  &:hover {
    border-bottom: 1px solid #223a70;
  }
}
