.teamDetails {
  padding: 100px;
  text-align: center;

  &__outer {
    display: flex;
  }

  &__versus {
    display: flex;
    gap: 10px;

    p {
      margin: 0;
    }
  }

  &__content {
    display: flex;
    gap: 100px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;

    p {
      margin: 0;
    }
  }

  &__btn {
    margin: 0 auto 30px;
  }

  &__coach {
    margin-bottom: 20px;
  }
}

.players {
  margin-top: 20px;
  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  &__link {
    color: #022eb0;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.players__table th,
.players__table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.players__table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.players__table tr:hover {
  background-color: #ddd;
}

.filterSelect {
  margin-bottom: 20px;
  padding: 8px;
}

.tabs {
  display: flex;
  gap: 10px;
  width: 400px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: block;

  &:hover {
    border-bottom: 1px solid #223a70;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #223a70;
  font-size: 30px;
  margin: 0 0 30px 0;

  &__embelm {
    display: block;
  }

  &__text {
    font-size: 30px;
  }
}
