.container {
  padding: 100px 30px;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 50px 20px;
  }

  &__title {
    margin: 30px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__icon {
      background: none;
      border: none;
      font-size: 40px;
      color: #3aabd2;
      transition: color 0.3s ease;
    }

    &__text {
      text-align: center;
      color: #3aabd2;
      font-size: 30px;

      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 10px;
    }
  }

  &__item {
    list-style: none;
    text-align: center;
    background-color: #223a70;
    padding: 20px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;

    &:hover {
      background-color: #223a70;
      opacity: 0.8;
      transition: 0.2s;
    }

    @media (max-width: 768px) {
      padding: 15px 5px;
    }
  }

  &__item__name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 20px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin: 0 0 15px;
    }
  }

  &__item__emblem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
    border-radius: 10px;

    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
      margin: 0 auto 15px;
    }
  }

  &__item__areaName {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.responsive-img {
  width: 60px;
  height: 60px;

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}
