.nodata {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodata-center {
  line-height: 100vh;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #223a70;
  position: relative;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 768px) {
    }
  }

  &__emblem {
    display: block;

    &__icon {
      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__text,
  &__areaName {
    font-size: 30px;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  span {
    font-size: 30px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.responsive-img {
  @media (max-width: 768px) {
    width: 70px;
    height: 70px;
  }
}

.favoriteButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  color: #c6bebe;
  transition: color 0.3s ease;
  position: absolute;
  right: -100px;

  @media (max-width: 768px) {
    position: inherit;
    right: 0;
    margin-top: 10px;
  }
}

.favoriteButton.favorite {
  color: #f172a3;
}

.favoriteButton:focus {
  outline: none;
}

.matches {
  &__versus {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__teamOuter,
  &__competition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #022eb0;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__nodata {
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
  }

  &__table-wrapper {
    overflow-x: auto;
    margin: 20px 0;
  }

  &__table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    text-align: center;
  }

  &__table th,
  &__table td {
    border: 1px solid #ddd;
    padding: 12px 5px;
    text-align: center;
  }

  &__table th {
    background-color: #223a70;
    color: #fff;
  }

  &__table tr {
    &:hover {
      background-color: #ddd;
    }
  }

  &__table tr:nth-child(even) {
    background-color: #f9f9f9;

    &:hover {
      background-color: #ddd;
    }
  }

  &__cards {
    display: none;
  }

  @media (max-width: 768px) {
    &__table-wrapper {
      display: none;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      background-color: #223a70;
      margin: 20px 0;
    }

    &__card {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      &__row {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

        &:last-child {
          border-bottom: none;
        }
      }

      .matches__teamScore {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5vw;
      }

      .matches__teamOuter {
        margin-right: 5%;
      }

      .matches__teamOuter,
      .matches__competition {
        flex-direction: inherit;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
        text-align: left;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .matches__score {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.func {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__filter {
    &__select {
      padding: 8px;
      cursor: pointer;
      margin-left: 5px;
    }
  }

  &__sortButton {
    width: 150px;
  }
}

.page__text {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  gap: 10px;
  width: 320px;
  margin: 0 auto;

  &__btn {
    padding: 5px;
    width: 100px;
    background-color: #223a70;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.tabs button {
  background-color: #f0f0f0;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 10px 5px;
  }

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.tabs button:hover {
  background-color: #223a70;
  color: #fff;
}

.tabs .active {
  background-color: #223a70;
  color: #fff;
}

.container {
  padding: 100px 30px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 80px 20px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__team {
    display: flex;
    margin: 10px 30px;
    justify-content: center;
    gap: 10px;

    &__currentTeam {
      display: block;
      color: #022eb0;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__nationality {
      margin: 0;
    }
  }

  &__outer {
    display: flex;
  }

  &__versus {
    display: flex;
    gap: 10px;

    p {
      margin: 0;
    }
  }

  &__season {
    margin: 0 0 30px;
  }

  &__winner {
    margin: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &__icon {
      font-size: 30px;
      color: #d0a900;
    }

    &__team {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &__text {
      font-size: 20px;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;

    p {
      margin: 0;
    }
  }

  &__btn {
    margin: 0 auto 30px;
  }

  &__coach {
    margin-bottom: 20px;
  }
}

.scoresTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: center;

  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
  }

  th {
    background-color: #223a70;
    color: #fff;
  }

  tr {
    &:hover {
      background-color: #ddd;
    }
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;

    &:hover {
      background-color: #ddd;
    }
  }

  @media (max-width: 768px) {
    th,
    td {
      padding: 8px;
    }
  }
}

.teamsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
}

.teamItem {
  list-style: none;
  text-align: center;
  background-color: #223a70;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;

  @media (max-width: 768px) {
    padding: 20px 5px;
  }

  &__emblem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 90px;
    height: 90px;
    margin: 0 auto 10px;
    border-radius: 10px;
  }

  &:hover {
    background-color: #223a70;
    opacity: 0.8;
    transition: 0.2s;
  }

  p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.nowrap {
  white-space: nowrap;
}
