.header {
  width: 100%;
  background-color: #223a70;
  position: fixed;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 10;

  &__top {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;

    p {
      text-decoration: none;
      color: #3aabd2;
      font-weight: bold;
      font-size: 25px;
    }

    &:hover {
      p {
        text-decoration: underline;
      }
    }
  }
}

.favorite {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;

  &__text {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #f172a3;
  }

  &:hover .favorite__text {
    text-decoration: underline;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #f172a3;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
  }
}
