.leagueDetails {
  padding: 100px;
  text-align: center;

  &__title {
    text-align: center;
    color: #223a70;
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  &__emblem {
    border: 1px solid #ccc;
    list-style: none;
    text-align: center;
    background-color: #223a70;
    padding: 20px 10px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
    border: 5px solid #223a70;
    transition: 0.2s;
  }

  &__outer {
    display: flex;
  }

  &__versus {
    display: flex;
    gap: 10px;

    p {
      margin: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  &__season,
  &__winner {
    margin: 0 0 30px;
  }

  &__nodata {
    font-size: 30px;
    padding-top: 50px;
  }
}

.page__text {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  gap: 10px;
  width: 320px;
  margin: 0 auto;

  &__btn {
    padding: 5px;
    width: 100px;
    background-color: #223a70;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #022eb0;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.topNavBtn {
  margin: 0 auto 30px;
}

.tabs {
  display: flex;
  gap: 10px;
  width: 620px;
  margin: 0 auto;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.teamsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 横に3つ並べる */
  gap: 16px;
  padding: 20px;
}

.teamItem {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
}

.teamItem p {
  margin: 10px 0 0;
}

.scoresTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.scoresTable th,
.scoresTable td {
  border: 1px solid #ddd;
  padding: 12px;
}

.scoresTable th {
  background-color: #f2f2f2;
  text-align: center;
}

.scoresTable td {
  text-align: center;
}

.scoresTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.scoresTable tr:hover {
  background-color: #ddd;
}

.scoresTable th {
  background-color: #223a70;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #223a70;
  font-size: 30px;
  margin: 0 0 10px 0;

  &__embelm {
    display: block;
  }

  &__text {
    font-size: 30px;
  }
}
