.favorite {
  padding: 100px 30px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 768px) {
    padding: 50px 10px;
  }

  &__title {
    margin: 30px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__icon {
      background: none;
      border: none;
      font-size: 40px;
      color: #f172a3;
      transition: color 0.3s ease;
    }

    &__text {
      text-align: center;
      color: #f172a3;
      font-size: 30px;

      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__content {
    width: 100%;
    max-width: 600px;

    @media (max-width: 768px) {
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__heading {
    text-align: center;
    color: #223a70;
    font-size: 25px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }

  &__item,
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__text {
    font-size: 20px;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__link,
  &__remove {
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    background-color: #223a70;
    cursor: pointer;
    width: 150px;

    @media (max-width: 768px) {
      width: 100px;
    }
  }

  &__link {
    background-color: #3aabd2;

    &:hover {
      background-color: #3aabd2;
    }
  }

  &__remove {
    background-color: #c82333;

    &:hover {
      background-color: #c82333;
    }
  }
}
