.favorite {
  padding-top: 100px;

  &__title {
    margin: 30px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__button {
      background: none;
      border: none;
      font-size: 40px;
      color: #223a70;
      transition: color 0.3s ease;
    }

    &__text {
      text-align: center;
      color: #223a70;
      font-size: 30px;
    }
  }

  &__content {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__heading {
    text-align: center;
    color: #223a70;
    font-size: 25px;
  }

  &__lists {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__item,
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__text {
    font-size: 20px;
    font-weight: 700;
  }

  &__link,
  &__remove {
    color: #fff;
    width: 100px;
  }
}
